---
---
$header-bg-color:  #800000 !default;
$header-bg-color-secondary: #000000 !default;
$section-headings-color: #800000 !default;

@import "{{ site.theme }}";

.page-header {
  @include large {
    padding: 0rem 6rem;
  }

  @include medium {
    padding: 0rem 4rem;
  }

  @include small {
    padding: 0rem 1rem;
  }
}
