---
---
$header-bg-color: #000000 !default;
$header-bg-color-secondary: #800000 !default;
$section-headings-color: #800000 !default;
$body-link-color: #000000 !default;

@import "{{ site.theme }}";

.page-header {
  @include large {
    padding: 2rem 6rem;
  }

  @include medium {
    padding: 1rem 4rem;
  }

  @include small {
    padding: 0rem 1rem;
  }
}

.main-content {
  @include small {
        padding: 1rem 1rem;
}
