h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-top: $spacing-unit * .5;
  margin-bottom: 0px;
}

.site-title {
  @include relative-font-size(2);
}

.page-content {
  padding-top: 16px;
}

.post-link {
  @include relative-font-size(1.2);
}

img {
  max-width: 60%;
  border: solid gray;
}

.post-list-heading {
  border-top: 1px solid $border-color-01;
}

.post-link-padding {
  margin-bottom: 0px;
}

.post-description-padding {
  margin-left: 5px;
}

.wrapper {
  @media screen and (min-width: $on-large) {
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: 0px;
    padding-left: 0px;
  }
}
