
p+ul {
  margin-top: $spacing-unit * -.5;
}

.site-title {
  @include relative-font-size(2);
}

//.page-content {
//  padding-top: 16px;
//}

.post-link {
  @include relative-font-size(1.2);
}

img {
  max-width: 60%;
  border: solid gray;
}

.post-list-heading {
  border-top: 1px solid $border-color-01;
}

.post-link-padding {
  margin-bottom: 0px;
}

.post-description-padding {
  margin-left: 5px;
}

