.site-title {
  @include relative-font-size(2);
}

.post-link {
  @include relative-font-size(1.25);
}

.post-link-padding {
  margin-bottom: 0px;
}

.post-description-padding {
  margin-left: 10px;
}

.wrapper {
  @media screen and (min-width: $on-large) {
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: 0px;
    padding-left: 0px;
  }
}
