---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

<h2 id="code--cv--research">
      <a rel="me" href="https://www.github.com/dantasfiles" target="_blank" title="github">
          <svg class="svg-icon grey">
            <use xlink:href="/newweb/assets/minima-social-icons.svg#github"></use>
          </svg>
          code
      </a> | 
      <a rel="me" href="https://www.linkedin.com/in/dantasfiles" target="_blank" title="linkedin">
          <svg class="svg-icon grey">
            <use xlink:href="/newweb/assets/minima-social-icons.svg#linkedin"></use>
          </svg>
          cv 
      </a> | 
      <a rel="me" href="https://scholar.google.com/citations?user=kGsoFNQAAAAJ" target="_blank" title="google_scholar">
          <svg class="svg-icon grey">
            <use xlink:href="/newweb/assets/minima-social-icons.svg#google_scholar"></use>
          </svg>
          research
      </a>
    </h2>
  
  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3 class="post-link-padding">
          {% if post.redirect contains '://' %}
          <a class="post-link" href="{{ post.redirect }}" target="_blank">{{ post.title }}</a>
          <svg width="2rem" height="2rem" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
            <path d="M17 13.5v6H5v-12h6m3-3h6v6m0-6-9 9" class="icon_svg-stroke" stroke="#999" stroke-width="1.5" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        {% endif %}
        </h3>
        {%- if site.show_excerpts -%}
          <div class="post-description-padding">{{ post.description }}</div>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
