---
layout: post
---

<h3> <a href="/{{ page.year | minus: 1 }}/12/31/learn-{{ page.year | minus: 1 }}.html">← {{ page.year | minus: 1 }}</a> | <a href="/{{ page.year | plus: 1 }}/12/31/learn-{{ page.year | plus: 1 }}.html">{{ page.year | plus: 1 }} →</a></h3>

<p>I use these posts to keep track of my reading and viewing of items from {{ page.year }} so I can reference them later<br> Learning materials that I found particularly interesting are marked with a ✨</p>


{{ content }}

<h3> <a href="/{{ page.year | minus: 1 }}/12/31/learn-{{ page.year | minus: 1 }}.html">← {{ page.year | minus: 1 }}</a> | <a href="/{{ page.year | plus: 1 }}/12/31/learn-{{ page.year | plus: 1 }}.html">{{ page.year | plus: 1 }} →</a></h3>
