---
layout: post
---

<h3> <a href="/{{ page.year | minus: 1 }}/12/31/learn-{{ page.year | minus: 1 }}.html">← {{ page.year | minus: 1 }}</a>{% if page.year != 2025 %} | <a href="/{{ page.year | plus: 1 }}/12/31/learn-{{ page.year | plus: 1 }}.html">{{ page.year | plus: 1 }} →</a>{% endif %}</h3>

<p>I use these posts to track what I read and watched from {{ page.year }}, so I can reference them later</p>
<p>Learning materials that I found particularly interesting are marked with a ✨</p>


{{ content }}

<h3> <a href="/{{ page.year | minus: 1 }}/12/31/learn-{{ page.year | minus: 1 }}.html">← {{ page.year | minus: 1 }}</a> {% if page.year != 2025 %}| <a href="/{{ page.year | plus: 1 }}/12/31/learn-{{ page.year | plus: 1 }}.html">{{ page.year | plus: 1 }} →</a>{% endif %}</h3>
