@charset "utf-8";

$lm-link-base-color: #b509ac;
$lm-link-visited-color: $lm-link-base-color;
$lm-site-title-color: #111111;
$color-scheme-auto: false;
$color-scheme-dark: false;
@import "minima/skins/auto";
